body {
  background-color: rgb(231, 231, 231);
}

.container {
    display: flex;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin:  90px auto;
  padding: 20px 30px;
  background-color: aliceblue;
}
.container h2{

    
    color: rgb(0, 94, 255);
}
  
.row{
   
    
   
   
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Roboto,sans-serif;
    color: #333333;
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
}


#message {
    display: none;
   height: 80px;
  background: rgb(61, 194, 105);
  position: relative;
}

#message p{
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    padding: 10px;
  
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -4px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: rgb(221, 82, 82);
  
}

.invalid:before {
    position: relative;
    left: -4px;
    content: "•";
   
}

